<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Akash Proxy</title>
  </head>
  <body>
    <h1>Akash Proxy</h1>
    <table>
      <thead>
        <tr>
          <th>Server</th>
          <th>Request Count</th>
          <th>Avg response time</th>
          <th>Error Rate</th>
          <th>Status</th>
          <th>Kind</th>
        </tr>
      </thead>
      <!-- prettier-ignore -->
      <tbody>
        {{ range $key, $value := . }}
          {{ range $value }}
            <tr>
              <th><a href="{{ .URL }}">{{ .Name }}</a></th>
              <th>{{ .Requests }}</th>
              <th>{{ .Avg }}</th>
              <th>{{ .ErrorRate }}%</th>
              <th>
                {{ if not .Initialized }}
                initializing
                {{ else if .Degraded }}
                degraded
                {{ else }}
                OK
                {{ end }}
              </th>
              <th>{{ $key }}</th>
            </tr>
          {{ end }}
        {{ end }}
      </tbody>
    </table>
  </body>
</html>
